obj
bin
deploy
*.csproj.user
*.suo
*.cache
*.nupkg
~$*
*~
*ReSharper*
*.swp
*.testsettings
*.DotSettings
TestResults/*
*.dbmdl
Releases/2*
*.pidb
*.docstates
*.orig
test-results
apply_config.bat
NDependOut
*.dotCover
*_mm_cache.bin
*.bak
*NCrunch*
localConfig
src/packages
nohup.out
src/Igor.Azure/csx
src/Igor.Azure/rcf
src/Igor.Azure/Profiles
src/Igor.Azure/ServiceConfiguration.Cloud.cscfg
src/Igor.Azure/ServiceConfiguration.Local.cscfg
src/Igor.Azure/ServiceDefinition.csdef
src/Igor/scripts