<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="WebSites" value="comma,separated,list,of,website,names"/>
  </appSettings>
  <connectionStrings>
    <add name="Credentials" connectionString="UserName=[Deployment User Name];Password=[Deployment Password];SubscriptionId=[Azure Subscription Id];ManagementCertificate=[Base64 Certificate From pubSettings.xml]" providerName="Custom" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
<system.webServer>
    <handlers>
      <add name="Fix.AspNet" path="*" verb="*" type="Fix.AspNet.FixHttpHandler" />
    </handlers>
  </system.webServer></configuration>